<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="AnuarioConnection" 
         providerName="System.Data.SqlClient" 
         connectionString="Data Source=localhost;Initial Catalog=Aula07;Integrated Security=True;MultipleActiveResultSets=True;Application Name=Aula07"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>